{% load static %}
                <div class="course-card">
                    <div class="course-image" style="background-image: url('{{ movie.poster.url }}')"></div>
                    <div class="course-content">
                        <h3 class="course-title">{{ movie.title}}</h3>
                        <div class="course-meta">
                            <span><i class="fas fa-calendar-day"></i> {{movie.day}} </span>
                            <span><i class="fas fa-clock"></i> {{movie.start}} </span>
                            <span><i class="fas fa-chair"></i> {{movie.capacity}} </span>
                        </div>
                        <p class="course-description">{{ item.short_desc }}</p>
                        {% if user.is_authenticated %}

                        <a href="{% url 'movie_reserve' movie.id %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> رزرو بلیط</a>
                    {% else %}
                        <a href="{% url 'login_page' %}?next={% url 'movie_reserve' movie.id %}"
                           class="btn btn-primary">
                            <i class="fas fa-sign-in-alt"></i> ورود برای رزرو
                        </a>
                        {% endif %}
                    </div>
                </div>